[Desktop Entry]
Name=Sticky Notes
Comment=Create and manage sticky notes on your desktop
Exec=sticky
Icon=sticky
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility;
StartupNotify=false
