[Desktop Entry]
Name=Notes
Name[am]=ማስታወሻዎች
Name[ar]=ملاحظات
Name[be]=Нататкі
Name[cs]=Poznámky
Name[cy]=Nodiadau
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[eo]=Notoj
Name[es]=Notas
Name[et]=Märkmed
Name[eu]=Oharrak
Name[fi]=Muistilaput
Name[he]=פתקיות
Name[hi]=टिप्पणियाँ
Name[hr]=Bilješke
Name[hu]=Jegyzetek
Name[ia]=Notas
Name[id]=Catatan
Name[is]=Minnismiðar
Name[it]=Note
Name[ja]=Sticky Notes
Name[kab]=Tizmilin
Name[ko]=노트
Name[la]=Notae
Name[nl]=Notities
Name[oc]=Nòtas
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notițe
Name[ru]=Заметки
Name[sl]=Beležke
Name[sr]=Белешке
Name[sr@latin]=Beleške
Name[sv]=Anteckningar
Name[tr]=Notlar
Name[uk]=Нотатки
Comment=Take notes and stay organized
Comment[am]=ማስታወሻ መውሰጃ እና ማደራጃ
Comment[be]=Рабіце нататкі і будзьце арганізаванымі
Comment[ca]=Preneu notes i manteniu-vos organitzat
Comment[cs]=Dělejte si poznámky a buďte organizovaní
Comment[cy]=Cymryd nodiadau a chadw'n drefnus
Comment[da]=Tag noter og bevar overblikket
Comment[de]=Notizen machen und organisiert bleiben
Comment[el]=Κρατήστε σημειώσεις και παραμείνετε οργανωμένοι
Comment[eo]=Fari notojn kaj resti organizite
Comment[es]=Tomar notas y organizarse
Comment[et]=Tehke märkmeid ja olge organiseeritud
Comment[eu]=Idatzi oharrak eta antolatu gauzak
Comment[fi]=Tee muistilappuja ja pysy ajan tasalla
Comment[fr]=Prenez des notes et restez organisé
Comment[fr_CA]=Prenez des notes et restez organisé
Comment[he]=רישמו הערות והשראו מאורגנים
Comment[hi]=टिप्पणी संचित कर व्यवस्थित रहें
Comment[hr]=Napravite bilješku i ostanite organizirani
Comment[hu]=Írjon jegyezeteket és tárolja őket rendezetten
Comment[ia]=Prender nota e star organisate
Comment[id]=Buat catatan dan tetap terorganisir
Comment[ie]=Nota e resta organisat
Comment[is]=Hafðu skipulag á hlutunum og taktu glósur
Comment[it]=Prendi appunti e resta organizzato
Comment[ja]=メモをとって整理
Comment[kab]=Ṭṭef tilɣa yerna suddes iman-ik im
Comment[ko]=메모하고 정돈하기
Comment[la]=Notas scribe ut bene te instruas
Comment[nl]=Maak notities en blijf georganiseerd
Comment[oc]=Prenètz de nòtas e demoratz organizat
Comment[pl]=Notuj i zachowuj organizację
Comment[pt]=Tome notas e mantenha-se organizado
Comment[pt_BR]=Faça anotações e mantenha-se organizado
Comment[ro]=Ia notițe și organizează-te
Comment[ru]=Делайте заметки и оставайтесь организованными
Comment[sl]=Ustvarjajte beležke in ostanite organizirani
Comment[sr]=Водите белешке и увек будите организовани
Comment[sr@latin]=Vodite beleške i budite uvek organizovani
Comment[sv]=Gör anteckningar och håll dig organiserad
Comment[tr]=Not alın ve düzenli kalın
Comment[uk]=Робіть нотатки та залишайтесь організованими
Comment[vi]=Ghi chú luôn ngăn nắp
Exec=sticky
Icon=sticky
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility;
StartupNotify=false
