[Desktop Entry]
Name=Notes
Name[am]=ማስታወሻዎች
Name[be]=Нататкі
Name[cy]=Nodiadau
Name[da]=Noter
Name[de]=Notizen
Name[es]=Notas
Name[eu]=Oharrak
Name[fi]=Muistilaput
Name[he]=פתקיות
Name[hi]=टिप्पणियाँ
Name[hr]=Bilješke
Name[hu]=Megjegyzések
Name[ia]=Notas
Name[it]=Note
Name[ja]=Sticky Notes
Name[kab]=Tizmilin
Name[la]=Notae
Name[nl]=Notities
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[sr]=Белешке
Name[sr@latin]=Beleške
Name[sv]=Anteckningar
Name[tr]=Notlar
Name[uk]=Нотатки
Comment=Take notes and stay organized
Comment[am]=ማስታወሻ መውሰጃ እና ማደራጃ
Comment[be]=Рабіце нататкі і будзьце арганізаванымі
Comment[ca]=Preneu notes i manteniu-vos organitzat
Comment[cy]=Cymryd nodiadau a chadw'n drefnus
Comment[da]=Tag noter og bevar overblikket
Comment[de]=Notizen machen und organisiert bleiben
Comment[es]=Tomar notas y organizarse
Comment[eu]=Idatzi oharrak eta antolatu gauzak
Comment[fi]=Tee muistiinpanoja ja pysy ajan tasalla
Comment[fr]=Prenez des notes et restez organisé
Comment[he]=רישמו הערות והשראו מאורגנים
Comment[hi]=टिप्पणी संचित कर व्यवस्थित रहें
Comment[hr]=Napravite bilješku i ostanite organizirani
Comment[hu]=Írjon jegyezeteket és tárolja őket rendezetten
Comment[ia]=Prender nota e star organisate
Comment[ie]=Nota e resta organisat
Comment[it]=Prendi appunti e resta organizzato
Comment[ja]=メモをとって整理
Comment[kab]=Ṭṭef tilɣa yerna suddes iman-ik im
Comment[la]=Notas scribe ut bene te instruas
Comment[nl]=Maak notities en blijf georganiseerd
Comment[pl]=Notuj i zachowuj organizację
Comment[pt]=Tome notas e mantenha-se organizado
Comment[pt_BR]=Faça anotações e mantenha-se organizado
Comment[sr]=Водите белешке и увек будите организовани
Comment[sr@latin]=Vodite beleške i budite uvek organizovani
Comment[sv]=Gör anteckningar och håll dig organiserad
Comment[tr]=Not alın ve düzenli kalın
Comment[uk]=Робіть нотатки та залишайтесь організованими
Exec=sticky
Icon=sticky
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility;
StartupNotify=false
